[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
numpy = "*"
xgboost = "*"
scipy = "*"
seaborn = "*"
mlflow = "*"
scikit-learn = "==0.24"

[dev-packages]

[requires]
python_version = "3.8"
